@import '../../styles/variables';

.wrapper {

  &.desktop {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 6rem;
    color: #333333;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: $GOST-regular;
    margin-bottom: 6rem;
    margin-top: 6rem;

    h2 {
      font-size: 4rem;
      line-height: 1.2;
      margin-top: 0;
      font-family: $GOST-bold;
      text-transform: uppercase;
    }

    hr {
      margin-bottom: 7rem;
    }

    h3 {
      color: #eb0029;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-top: 0;
      font-family: $GOST-regular;
    }

    b {
      font-family: $GOST-bold;
    }

    ul {
      font-family: $GOST-bold;
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 3rem;

      li {
        font-family: $GOST-regular;
        margin-left: 1.9rem;
        position: relative;
        padding-left: 1.5rem;

        &::before {
          position: absolute;
          left: -1.9rem;
          top: -.1rem;
          content: "\2014";
          font-size: 1.8rem;
          color: #eb0029;
        }

        &:first-child {
          margin-top: 2rem;
        }
      }
    }
  }

  &.mobile {

    width: 100%;
    padding: 0 1.6rem;
    color: #333333;
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: $GOST-regular;
    margin-bottom: 2rem;
    margin-top: 2rem;

    h2 {
      font-size: 2rem;
      line-height: 1.2;
      margin-top: 0;
      font-family: $GOST-bold;
    }

    hr {
      margin-bottom: 4rem;
    }

    h3 {
      color: #eb0029;
      font-size: 1.6rem;
      font-family: $GOST-regular;
      line-height: 1.5;
    }

    p {
      font-size: 1.6rem;
      line-height: 1.5;
      margin-top: 0;
      font-family: $GOST-regular;
    }

    b {
      font-family: $GOST-bold;
    }

    ul {
      font-family: $GOST-bold;
      padding-left: 0;
      list-style-type: none;
      margin-bottom: 3rem;

      li {
        font-family: $GOST-regular;
        margin-left: 1.9rem;
        position: relative;
        padding-left: 1.5rem;

        &::before {
          position: absolute;
          left: -1.9rem;
          top: -.1rem;
          content: "\2014";
          font-size: 1.8rem;
          color: #eb0029;
        }

        &:first-child {
          margin-top: 1.5rem;
        }
      }
    }
  }
}