@font-face {
  font-family: 'GOSTUI2 Regular';
  src: url('./GOSTUI2.eot') format('eot'),
  url('./GOSTUI2.ttf') format('ttf'),
  url('./GOSTUI2.woff') format('woff');
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GOSTUI2 Medium';
  src: url('./GOSTUI2-Medium.eot') format('eot'),
  url('./GOSTUI2-Medium.ttf') format('ttf'),
  url('./GOSTUI2-Medium.woff') format('woff');
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GOSTUI2 Bold';
  src: url('./GOSTUI2-Bold.eot') format('eot'),
  url('./GOSTUI2-Bold.ttf') format('ttf'),
  url('./GOSTUI2-Bold.woff') format('woff');
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url('./Roboto-Black.otf') format('otf'),
  url('./Roboto-Black.eot') format('eot'),
  url('./Roboto-Black.svg') format('svg'),
  url('./Roboto-Black.ttf') format('ttf'),
  url('./Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black Italic';
  src: url('./Roboto-BlackItalic.otf') format('otf'),
  url('./Roboto-BlackItalic.eot') format('eot'),
  url('./Roboto-BlackItalic.svg') format('svg'),
  url('./Roboto-BlackItalic.ttf') format('ttf'),
  url('./Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('./Roboto-Bold.otf') format('otf'),
  url('./Roboto-Bold.eot') format('eot'),
  url('./Roboto-Bold.svg') format('svg'),
  url('./Roboto-Bold.ttf') format('ttf'),
  url('./Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('./Roboto-BoldItalic.otf') format('otf'),
  url('./Roboto-BoldItalic.eot') format('eot'),
  url('./Roboto-BoldItalic.svg') format('svg'),
  url('./Roboto-BoldItalic.ttf') format('ttf'),
  url('./Roboto-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./Roboto-Medium.otf') format('otf'),
  url('./Roboto-Medium.eot') format('eot'),
  url('./Roboto-Medium.svg') format('svg'),
  url('./Roboto-Medium.ttf') format('ttf'),
  url('./Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium Italic';
  src: url('./Roboto-MediumItalic.otf') format('otf'),
  url('./Roboto-MediumItalic.eot') format('eot'),
  url('./Roboto-MediumItalic.svg') format('svg'),
  url('./Roboto-MediumItalic.ttf') format('ttf'),
  url('./Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./Roboto-Regular.otf') format('otf'),
  url('./Roboto-Regular.eot') format('eot'),
  url('./Roboto-Regular.svg') format('svg'),
  url('./Roboto-Regular.ttf') format('ttf'),
  url('./Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular Italic';
  src: url('./Roboto-Italic.otf') format('otf'),
  url('./Roboto-Italic.eot') format('eot'),
  url('./Roboto-Italic.svg') format('svg'),
  url('./Roboto-Italic.ttf') format('ttf'),
  url('./Roboto-Italic.woff') format('woff');
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./Roboto-Light.otf') format('otf'),
  url('./Roboto-Light.eot') format('eot'),
  url('./Roboto-Light.svg') format('svg'),
  url('./Roboto-Light.ttf') format('ttf'),
  url('./Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light Italic';
  src: url('./Roboto-LightItalic.otf') format('otf'),
  url('./Roboto-LightItalic.eot') format('eot'),
  url('./Roboto-LightItalic.svg') format('svg'),
  url('./Roboto-LightItalic.ttf') format('ttf'),
  url('./Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Thin';
  src: url('./Roboto-Thin.otf') format('otf'),
  url('./Roboto-Thin.eot') format('eot'),
  url('./Roboto-Thin.svg') format('svg'),
  url('./Roboto-Thin.ttf') format('ttf'),
  url('./Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Thin Italic';
  src: url('./Roboto-ThinItalic.otf') format('otf'),
  url('./Roboto-ThinItalic.eot') format('eot'),
  url('./Roboto-ThinItalic.svg') format('svg'),
  url('./Roboto-ThinItalic.ttf') format('ttf'),
  url('./Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PFDinStencilPro-Black';
  src: url('./PFDinStencilPro-Black.eot') format('eot'),
  url('./PFDinStencilPro-Black.svg') format('svg'),
  url('./PFDinStencilPro-Black.ttf') format('ttf'),
  url('./PFDinStencilPro-Black.woff') format('woff');
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinStencilPro-Bold';
  src: url('./PFDinStencilPro-Bold.eot') format('eot'),
  url('./PFDinStencilPro-Bold.svg') format('svg'),
  url('./PFDinStencilPro-Bold.ttf') format('ttf'),
  url('./PFDinStencilPro-Bold.woff') format('woff');
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinStencilPro-Medium';
  src: url('./PFDinStencilPro-Medium.eot') format('eot'),
  url('./PFDinStencilPro-Medium.svg') format('svg'),
  url('./PFDinStencilPro-Medium.ttf') format('ttf'),
  url('./PFDinStencilPro-Medium.woff') format('woff');
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinStencilPro-Reg';
  src: url('./PFDinStencilPro-Reg.eot') format('eot'),
  url('./PFDinStencilPro-Reg.svg') format('svg'),
  url('./PFDinStencilPro-Reg.ttf') format('ttf'),
  url('./PFDinStencilPro-Reg.woff') format('woff');
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinStencilPro-Light';
  src: url('./PFDinStencilPro-Light.eot') format('eot'),
  url('./PFDinStencilPro-Light.svg') format('svg'),
  url('./PFDinStencilPro-Light.ttf') format('ttf'),
  url('./PFDinStencilPro-Light.woff') format('woff');
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinStencilPro-Thin';
  src: url('./PFDinStencilPro-Thin.eot') format('eot'),
  url('./PFDinStencilPro-Thin.svg') format('svg'),
  url('./PFDinStencilPro-Thin.ttf') format('ttf'),
  url('./PFDinStencilPro-Thin.woff') format('woff');
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinStencilPro-XThin';
  src: url('./PFDinStencilPro-XThin.eot') format('eot'),
  url('./PFDinStencilPro-XThin.svg') format('svg'),
  url('./PFDinStencilPro-XThin.ttf') format('ttf'),
  url('./PFDinStencilPro-XThin.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinStencilPro-Hairline';
  src: url('./PFDinStencilPro-Hairline.eot') format('eot'),
  url('./PFDinStencilPro-Hairline.svg') format('svg'),
  url('./PFDinStencilPro-Hairline.ttf') format('ttf'),
  url('./PFDinStencilPro-Hairline.woff') format('woff');
  font-stretch: normal;
  font-style: normal;
}