$GOST: 'GOSTUI2 Regular', sans-serif;
$GOST-medium: 'GOSTUI2 Medium', sans-serif;
$GOST-bold: 'GOSTUI2 Bold', sans-serif;
$GOST-regular: 'GOSTUI2 Regular', sans-serif;
$DINPro-bold: 'PFDinStencilPro-Bold', sans-serif;
$DINPro-medium: 'PFDinStencilPro-Medium', sans-serif;
$DINPro-regular: 'PFDinStencilPro-Reg', sans-serif;
$DINPro-xthin: 'PFDinStencilPro-XThin', sans-serif;
$Roboto-regular: 'Roboto Regular', sans-serif;
$Roboto-bold: 'Roboto Bold', sans-serif;
$Roboto-medium: 'Roboto Medium', sans-serif;

$cRed: #eb0029;
$cBlack: #242424;
$cBlack_2c: #2c312b;
$cBlack_33: #333;
$cBlack_eb: #eb0029;
$cWhite: #fff;
$cGray_ea: #eaeaea;
$cGray_e6: #e6e6e6;
$cGray_f5: #f5f5f5;
