.banner_desktop{
  height: 48rem;
  width: 100%;
  margin-bottom: 9rem;
  background-size: cover !important;
  z-index: 10 !important;
}

.banner_mobile {
  height: 34.1rem;
  width: 100%;
  margin-bottom: 4rem;
  z-index: 10 !important;
}

.wrapper {
  position: relative;
  background-color: #f5f5f5;
  z-index: 2;
  width: 100%;
  padding-bottom: 8rem;

  &.desktop {
    padding-bottom: 0;

    .vacancies_container {
      padding: 0 6rem 0;
      max-width: 144rem;
      margin: 0 auto;
    }

    .subscribe{
      position: relative;
      margin: 5.6rem auto 8rem;
    }
  }

  &.mobile {
    padding-bottom: 0;

    .vacancies_container {
      padding: 0 1.6rem 0;
      width: 100%;
      margin: 0 auto;
    }

    .subscribe{
      position: relative;
      margin: 4rem auto 4rem;
    }
  }
}