@import '../../styles/variables';

.wrapper {

  &.desktop {

    .img {
      width: 100%;
      height: 60rem;
      margin-bottom: 8rem;
    }

    .text {
      font-size: 1.6rem;
      line-height: 1.5;
      padding-left: 11rem;
    }

    .link {
      width: calc(100% + 2.4rem);
    }
  }

  &.mobile {

    .img {
      width: 100%;
      height: 28.5rem;
      margin-bottom: 2.8rem;
    }

    .text {
      font-size: 1.4rem;
      line-height: 1.43;
    }

    .container_documentation {
      margin-top: 3rem;
    }

    .link {
      width: 100%;
    }
  }
}

.text {
  font-family: $GOST-regular;
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  color: rgb(51, 51, 51);
  margin: 0;
  margin-bottom: .1rem;
}

.wrapper_kaidzen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}